<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Poultry Base</title>
    </head>
    <body>
        <h1>Welcome to the Poultry Base 🐔</h1>

        {% if chickens %}
        <p>Total Chickens in database: {{ chickens|length }}</p>
        <ul>
            {% for chicken in chickens %}
            <li>ID: {{ chicken.id }} - Name: {{ chicken.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>⚠️ No data found.</p>
        {% endif %}
    </body>
</html>
